* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: sans-serif;
  background-color: #696969; 
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
  background-color: black;
}

header {
  width: 100%;
  overflow: auto;
  margin-bottom: 15px;
}

header .logo {
  height: 50px;
  background-color: black;
  width: 40%;
  float: left;
  font-weight: bolder; 
  padding-left: 20px; 
  padding-top: 25px;
  font-size: 30px; 
  color: yellow;
}

nav {
  width: 100%;
  overflow: auto;
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 150px; 
  font-size: 16px; 
  color: white;
}

.nav-item-1 {
  background-color: black;
  float: left;
  width: 17%;
  height: 50px;
  margin-left: 3%;
  margin-top: 15px;
  float: left;
  font-family: sans-serif;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 0px; 
}

.nav-item-2 {
  background-color: black;
  float: left;
  width: 15%;
  height: 50px;
  margin-left: 3%;
  margin-top: 15px;
  float: left;
  font-family: sans-serif;
  padding: 10px; 
  letter-spacing: 0px; 

}

button {
  background-color: #D3D3D3;
  border: none;
  width: 90%;
  height: 50px;
  text-transform: uppercase;
  font-size: 20px; 

}

#profile-button {
  background-color: yellow;
  
}

.subheader {
  height: 85px;
  background-color: #D3D3D3;
  border-top: 3px solid yellow;
  margin-top: 15px;
  float: left;
  width: 960px;
  border: 2px;
  left-border: 2px;
  right-border: 2px;
  color: black;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
}

.strike-gray {
  color: #A9A9A9;
  text-decoration: line-through;
}


.yellow-underline {
  text-decoration: underline; 
  color: black;
  text-decoration-color: yellow;
}

.content {
  width: 100%;
  clear: both;
}

.hero {
  height: 450px;
  background-color: #eee;
  border: 1px solid #333;
  width: 100%;
  float: left;
  background-image: url("images/coworking.jpg"); 
}

aside {
  height: 400px;
  background-color: #eee;
  border: 1px solid #333;
  width: 18%;
  float: left;
}


.section {
  height: 240px;
  background-color: white;
  border: 1px solid #333;
  float: left;
  width: 33.3%;
  margin-top: 15px;
  padding: 20px;
}

.large-section {
  height: 85%;
  background-color: #eee;
  border: 1px solid #333;
  float: right;
  width: 40%;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
}

.center-section {
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  height: 75px;
  background-color: black;
  margin-top: 15px;
  padding: 15px;
  float: left;
  width: 960px;
  color: white;
  font-size: 20px;
}