* {
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  display: block;
  width: auto;
  height: 125px;
  background-color: black;
  margin-bottom: -10px;
}

footer {
  height: 75px;
  font-size: 20px;
  background-color: black;
  border: 1px solid #333;
  margin-top: 15px;
  float: left;
  width: 960px;
  color: white;
  padding-top:24px;
  padding-left: 9px;
}

nav {
  float: right;
}

hr  {
  background-color: yellow;
  border: 0 none;
  color: yellow;
  height: 5px;
  margin: 0px;
}

a {
  text-decoration: none;
  margin: 0 auto;
}

span {
text-decoration: none;
border-bottom: 3px solid yellow;
}


p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
}

.section {
  height: 175px;
  float: left;
  width: 33%;
}



.center-section {
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}

.logo {
  font-family: 'Merriweather', serif;
  color: yellow;
  font-size: 34px;
  position: relative;
  top: 16px;
  left: 20px;
  margin-top: 0px;
}

.nav1 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
}

.nav2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.navbar {
  margin-right: 18px;
  color: white;
}

.aside {
  width: 350px;
  height: 375px;
  font-family: 'Sintony', sans-serif;
  margin: 20px;
  background-color: #dcdcdc;
  padding: 37px;
  opacity: 0.7;
  float: right;
}

    
.headline {
  display: block;
  background-color: #C0C0C0;
  text-align: center;
  padding: 5px;
}

.taste {
  text-decoration: line-through;
  color: #808080;
}

.section-container {
  display: inline-block;
  float: left;
}

.button1 {
  background-color: #C0C0C0;
  border-bottom: 3px solid #808080;
  border-radius: 5%;
  padding: 10px;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.button2 {
  background-color: yellow;
  border: 0px;
  font-size: 25px;
}

.quote {
  font-style: italic;
}

.button-container {
  float: clear;
  text-align: center;
}


